
/* ------------------------------
    Navigation & Header
------------------------------ */

.nav {
  background-color: #002a54;
  padding: 0.25rem;
}

.nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}

.nav a:hover {
  text-decoration: none;
  color: #a9ffd8;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #002040;
  border-radius: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #fff;
  font-size: 5.25rem;
  letter-spacing: 2px;
}

.jumbotron h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.75rem;
  padding-top: 1.25rem;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* ------------------------------
    Dev Projects
------------------------------ */

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #002a54;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn-outline-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #002040;
  text-decoration: none;
  border: 1px solid #4dc4b0;
}

.btn-outline-secondary:hover {
  background-color: #4dc4b0;
  border: 1px solid #4dc4b0;
}

/* ------------------------------
    About
------------------------------ */

.about {
  background-color: rgba(63, 162, 160, 0.4);
}

.featurette-image {
  border-radius: 0.3rem;
}

.featurette-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #002040;
  font-size: 3.25rem;
  letter-spacing: 1px;
}

.lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

/* ------------------------------
    Resume
------------------------------ */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.resume {
  background-color: #002040;
}

.col-lg-4 h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #4dc4b0;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

.col-lg-4 h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
}

.col-lg-4 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.25rem;
}

.skills p {
  margin-top: 0.45rem;
}

.applied-icon {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

/* ------------------------------
    Design Projects
------------------------------ */

.design h2  {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #002a54;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

a {
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.thumbnail {
  margin: 25px 75px;
  align-self: center;
  border-radius: 0.3rem;
}

.lg-sub-html {
  display: flex;
  align-self: center;
  margin: auto;
  width: 600px;
  font-size: 18px;
  line-height: 1.6em;
}

/* ------------------------------
    Contact & Footer
------------------------------ */

footer {
  background-color:  rgba(77, 196, 176, 0.6);
}