
/* ------------------------------
    Bootstrap Styles - Album
------------------------------ */

.navbar {
  background-color: #002a54;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #002040;
  border-radius: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #fff;
  font-size: 5.25rem;
  letter-spacing: 2px;
}

.jumbotron h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.75rem;
  padding-top: 1.25rem;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* ------------------------------
    Portfolio Projects Section
------------------------------ */

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #002a54;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn-outline-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #002040;
  border: 1px solid #3fa2a0;
}

.btn-outline-secondary:hover {
  background-color: #3fa2a0;
  border: 1px solid #3fa2a0;
}

/* ------------------------------
    About Section
------------------------------ */

.about {
  background-color: rgba(63, 162, 160, 0.5);
}

.featurette-image {
  border-radius: 0.3rem;
}

.featurette-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #002040;
  font-size: 3.25rem;
  letter-spacing: 1px;
}

.lead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

/* ------------------------------
    Resume Section
------------------------------ */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.resume {
  background-color: #002040;
}

.col-lg-4 h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.col-lg-4 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}